language: scala
sudo: false
jdk:
  - oraclejdk8
env:
  matrix:
    - SCRIPT="sbt --warn -jvm-opts .travis-jvmopts test"
    # Run scripted in a separate process without --warn so we can see its progress
    - SCRIPT="sbt --warn -jvm-opts .travis-jvmopts publishLocal && sbt -jvm-opts .travis-jvmopts scripted"
    - SCRIPT="sbt --warn -jvm-opts .travis-jvmopts publishM2 && sbt -jvm-opts .travis-jvmopts mavenTest"
    - SCRIPT="sbt --warn -jvm-opts .travis-jvmopts unidoc && cd docs && sbt --warn -jvm-opts .travis-jvmopts markdownValidateDocs test markdownEvaluateSbtFiles"
# important to use eval, otherwise "&&" is passed as an argument to sbt rather than being processed by bash
script: eval $SCRIPT
before_install:
    # See https://github.com/travis-ci/travis-ci/issues/4629#issuecomment-239493916
    - rm ~/.m2/settings.xml
cache:
  directories:
    - $HOME/.ivy2/cache
before_cache:
  # Ensure changes to the cache aren't persisted
  - rm -rf $HOME/.ivy2/cache/com.lightbend.lagom/*
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.lightbend.lagom/*
  # Delete all ivydata files since ivy touches them on each build
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
notifications:
  webhooks:
    urls:
        - https://webhooks.gitter.im/e/773aba95141768c32dae
    on_success: always
    on_failure: always
