<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.cassandra" level="ERROR" />
    <logger name="com.datastax.driver" level="WARN" />
    <logger name="akka" level="WARN" />

    <!-- don't use the following in actual code. These are only to keep scripted tests' output cleaner-->
    <logger name="com.datastax.driver.core.ControlConnection" level="OFF" />
    <logger name="akka.stream.scaladsl.RestartWithBackoffSource" level="ERROR" />


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
